.title {
    grid-area: 1 / 1 / 2 / 13;
    display: flex;
    background-color: #ff0037;
    font-family: 'Bandwidth Display RG';
    font-size: 3.5rem;
    color: #ffffff;
    padding: 2.5em auto 0em;
    align-self: center;
    height: 100%;
}