.header {
    grid-area: 1 / 1 / 2 / 13;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #ff0037;
    border: 8px solid #ff0037;
}
.container {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #ff0037;
    border: 8px solid #ffffff;
}

.title {
    display: grid;
    height: auto;
    font-family: "Bandwidth Display RG";
    align-items: center;
    color: #ffffff;
    border: 4px solid #ffffff;
    margin: 1rem;
    padding: 0.5rem;
}