@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "midpoint-pro";
  src: url("/fonts/midpointPro.otf");
}

@font-face {
  font-family: "object-sans";
  src: url("/fonts/ObjectSans.otf");
}

@font-face {
  font-family: "bandwidth";
  src: url("/fonts/Bandwidth.otf");
}

@font-face {
  font-family: "Bandwidth Display RG";
  src: url("/fonts/BandwidthDisplay_Rg.woff2");
}

@font-face {
  font-family: "PP Object Sans Bold";
  src: url("/fonts/PPObjectSans-Bold.woff2");
}

@font-face {
  font-family: "PP Object Sans Regular";
  src: url("/fonts/PPObjectSans-Regular.woff2");
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #05122d;
  margin: 0 auto;
}

/* a {
  color: #96FFF5;
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.3s;
}

a:hover {
  color: #00B5A3;
}
*/
.tab { margin-left: 24px }