@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "midpoint-pro";
  src: url("/fonts/midpointPro.otf");
}

@font-face {
  font-family: "object-sans";
  src: url("/fonts/ObjectSans.otf");
}

@font-face {
  font-family: "bandwidth";
  src: url("/fonts/Bandwidth.otf");
}


body {
  background-color: #96FFF5;
  font-family: "object-sans";
}

h1 {
  font-family: "bandwidth";
  font-size: 3rem;
  color: #141928;
}

a {
  color: #96FFF5;
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.3s;
}

a:hover {
  color: #00B5A3;
}

.tab { margin-left: 24px }