@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "MidpointPro";
  src: url("/fonts/midpointPro.otf");
}

body {
  background-color: #141928;
}

a {
  color: navy;
  font-weight: 500;
  text-decoration: underline;
}